button{
    font-weight:bold;
}

input{
    width: 20rem;
    background-color: rgb(70, 44, 44);
    border: none;
    color: rgb(19, 192, 157);
    padding: 5px;
    border-radius: 10px;
}
input:focus{
    outline: none;
}

.food{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
}

body::-webkit-scrollbar{
    display: none;
}